---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <ul>
    <li>
      <a href="/showcase/scroll-background">Scroll Background</a>
    </li>
    <li>
      <a href="/showcase/slide">Slide</a>
    </li>
		<li>
			<a href="/showcase/stop-the-text">Stop the Text</a>
		</li>
		<li>
			<a href="/showcase/move-bigtext">Move Big Text</a>
		</li>
  </ul>
</Layout>
